.admin-main-container {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
}
