.game-container {
    display: block;
}

.word-components-list {
    display: block;
    border: 1px solid black;
}

.word-component {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.word-list {
    display: block;
    border: 1px dotted black;
}

.word-input-container {
    padding: 20px;
}

.word-input {
    width: 100%;
}